@import 'tailwindcss';

@theme {
  --color-primary-50: #eaf8fd;
  --color-primary-100: #bee9fa;
  --color-primary-200: #9edff8;
  --color-primary-300: #72d0f4;
  --color-primary-400: #57c7f2;
  --color-primary-500: #2db9ef;
  --color-primary-600: #29a8d9;
  --color-primary-700: #2083aa;
  --color-primary-800: #196683;
  --color-primary-900: #134e64;

  --color-secondary-50: #e7e8ea;
  --color-secondary-100: #b3b8bd;
  --color-secondary-200: #8e959d;
  --color-secondary-300: #5b6571;
  --color-secondary-400: #3b4755;
  --color-secondary-500: #0a192b;
  --color-secondary-600: #091727;
  --color-secondary-700: #07121f;
  --color-secondary-800: #060e18;
  --color-secondary-900: #040b12;

  --color-terciary-50: #e8eaec;
  --color-terciary-100: #b8bec3;
  --color-terciary-200: #969ea7;
  --color-terciary-300: #66727e;
  --color-terciary-400: #485665;
  --color-terciary-500: #1a2c3f;
  --color-terciary-600: #182839;
  --color-terciary-700: #121f2d;
  --color-terciary-800: #0e1823;
  --color-terciary-900: #0b121a;

  --color-accent-50: #f7f8f9;
  --color-accent-100: #e7e8eb;
  --color-accent-200: #dbdde1;
  --color-accent-300: #caced3;
  --color-accent-400: #c0c5cb;
  --color-accent-500: #b0b6be;
  --color-accent-600: #a0a6ad;
  --color-accent-700: #7d8187;
  --color-accent-800: #616469;
  --color-accent-900: #4a4c50;

  --color-surface-50: #fefefe;
  --color-surface-100: #fcfcfc;
  --color-surface-200: #fafbfb;
  --color-surface-300: #f8f9f9;
  --color-surface-400: #f7f8f8;
  --color-surface-500: #f5f6f6;
  --color-surface-600: #dfe0e0;
  --color-surface-700: #aeafaf;
  --color-surface-800: #878787;
  --color-surface-900: #676767;

  --color-carbon-50: #e7e7e7;
  --color-carbon-100: #b6b6b6;
  --color-carbon-200: #929292;
  --color-carbon-300: #606060;
  --color-carbon-400: #414141;
  --color-carbon-500: #121212;
  --color-carbon-600: #101010;
  --color-carbon-700: #0d0d0d;
  --color-carbon-800: #0a0a0a;
  --color-carbon-900: #080808;

  --font-sans: var(--font-figtree), ui-sans-serif, system-ui, sans-serif;
  --font-numbers:
    var(--font-source-code-pro), ui-monospace, SFMono-Regular, monospace;
}

.title {
  font-family: var(--font-sans);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.64px;
}

.subtitle {
  font-family: var(--font-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.4px;
}

.text {
  font-family: var(--font-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0.36px;
}

.text-bold {
  font-family: var(--font-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.36px;
}

.numbers {
  font-family: var(--font-numbers);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.36px;
}
